@import "tailwindcss";
@layer base, components, utilities;

@theme {
  --font-sans: var(--font-pretendard), system-ui, sans-serif;

  --color-bg: #f2f2f2;
  --color-black: #2e2e2e;
  --color-gray-50: #f5f5f5;
  --color-gray-100: #dddddd;
  --color-gray-200: #cccccc;
  --color-gray-300: #bbbbbb;
  --color-gray-400: #a4a4a4;
  --color-gray-600: #737373;
  --color-gray-700: #333333;
  --color-gray-800: #000000;

  --color-orange-50: #fff8e4;
  --color-orange-100: #feefdc;
  --color-orange-150: #ffd19b;
  --color-orange-200: #ff9e59;
  --color-orange-250: #ff9c12;
  --color-orange-300: #ff8442;
  --color-orange-350: #ef720c;
  --color-orange-400: #ef6c00;

  --color-blue-100: #c0ebe4;
  --color-blue-200: #00d4be;
  --color-blue-300: #009d97;
}

@layer base {
  body {
    @apply font-sans text-base;
    background: var(--color-bg);
  }
}
